<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	
	<title>Welcome Page</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<!-- Reference Bootstrap files -->
	<link rel="stylesheet" th:href="@{/css/bootstrap/css/bootstrap.min.css}" />	
	<link rel="stylesheet" th:href="@{/css/welcome/welcome.css}" />	
	
</head>

<body>

	<div class="welcome-bg-img"></div>

	<button type="button" class="center btn btn-primary">Enter</button>
	
</body>
</html>