body, html {
  height: 100%;
}

.welcome-bg-img {
	
	position: absolute;
	top: 0;
	left: 0;
	
	width:100%;
	height: 100%;
	z-index: -1;
	
	background-image: url("../../media/welcome-desk-bg.png");	
	background-repeat: no-repeat;
	opacity: 0.7;
}

.center {
	
	position: absolute;
	left: 40%;
	top: 50%;
}